name: Github Pages

on:
  release:
    types: [created]

jobs:
  build-pages:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 22
      - run: npm i
      - run: npx typedoc src/index.ts
      - uses: actions/upload-artifact@v5
        with:
          name: pages
          path: docs

  deploy-pages:
    needs: build-pages
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      contents: read
      pages: write
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/download-artifact@v6
        with:
          name: pages
          path: docs
      - uses: actions/configure-pages@v4
      - uses: actions/upload-pages-artifact@v4
        with:
          path: 'docs'
      - uses: actions/deploy-pages@v4
