name: Run npm test & npm lint on Pull Requests

on:
  - pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 22
      - run: npm ci

      - name: Run build
        run: npm run build

      - name: Run unit tests
        run: npm run test:unit

      - name: Run linter
        run: npm run lint
